<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(video) -%>">
<li style="min-height: 35px" class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(video) -%>">
  <span class='title'>
    <%= video.title %>
    <span class='short_info'>(
      <% video.short_info.each do |info| %>
       <%= "#{t(info[0])}: #{info[1]}" %>
    <% end %>)</span>
  </span>

  <span class='preview'></span>

  <% unless action_name =~ /insert/   %>
  <span class='actions'>
    <%= action_icon(:preview, refinery.videos_admin_video_path(video, dialog: true), t('.view_live_html')) %>
    <%= action_icon(:edit,    refinery.edit_videos_admin_video_path(video), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.videos_admin_video_path(video), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: video.title)}}  ) %>
  </span>
  <% end %>
</li>
